/* color name */
/* h1{
    color: red;
} */

/* Hex Code */
/* h1{
    color: #783982;
} */

/* RGB value */
/* h1{
    color: rgb(155, 130, 155);
} */


/* Background Color */
/* body{
    background-color: wheat;
    color: aqua;
} */

/* div{
    background-color: wheat;
    color: violet;
} */

/* Opacity */
/* #div1{
    background-color: green;
    opacity: 0.2;
} */

/* img{
    opacity: 0.5;
} */